.btn {
  display: inline-block;
  background: $blue;
  color: white;
  padding: .2em 1em;
  border-radius: .5em;
  transition: background-color .3s ease-in-out;

  &:hover {
    color: white;
    background-color: darken($blue, 10%);
  }
}

.btn.btn--buy {
  font-size: 60%;
  vertical-align: middle;
}