.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include sm {
    width: 550px;
  }

  @include md {
    width: 750px;
  }

  @include lg {
    width: 970px;
  }

  @include xl {
    width: 1170px;
  }
}

.section {
  padding: 2em 0;
}

.section.section--about {
  border-top: 15px solid $blue;
  background-color: #f3f3f3;
}

.flex-row {
  display: flex;
  flex-direction: column;

  @include md {
    flex-direction: row;
  }
}

.flex-row.flex-row--50 .flex-item {

  width: 100%;

  @include md {
    width: 50%;
  }
}