.reviews {
  display: flex;
  flex-direction: column;
  

  @include lg {
    flex-direction: row;
  }
}

.reviews__review {
  display: block;
  cursor: pointer;
  font-size: 22px;
  padding: 1em;
  margin: 0 0 1em 0;
  border-radius: 1em;
  background-color: #fefefe;
  border: 1px solid #eee;
  transition: all 0.3s ease-in-out;
  & blockquote {
    margin: 0;
    border: 0;
  }

  @include lg {
    margin: 0 .5em 1em .5em;
  }

  &:hover {
    background-color: #eee;
    border-color: #ccc;
  }
}

.reviews__review:first-child {
  margin-left: 0;
}

.reviews__review:last-child {
  margin-right: 0;
}